.popup__save-text {
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 1.1px;
  margin: 0;
  text-align: center;
}

@media screen and (max-width: 360px) {
  .popup__save-text {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: .6px;
  }
}
