.profile__about {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 9px 0 0;
}
@media screen and (max-width: 567px) {
  .profile__about {
    font-size: 14px;
    line-height: 17px;
    margin: 7px 0 0;
  }
}
