.profile {
  font-family: 'Inter', Arial, sans-serif;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .profile {
    flex-direction: column;
  }
}
