.profile__wrapper-button {
  margin-left: 18px;
  margin-bottom: 8px;
  align-self: flex-end;
}
@media screen and (max-width: 567px) {
  .profile__wrapper-button {
    position: absolute;
    margin-bottom: 7px;
    bottom: 0;
    right: -28px;
  }
}
