.form__input {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  height: 35px;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 21px;
}

.form__input:last-of-type {
  margin-bottom: 30px;
}

.form__input:focus {
  box-shadow: rgba(53, 0, 102, 0.3) 0px 6px 7px -2px, rgba(46, 0, 83, 0.3) 0px 3px 7px -3px;
}
