.form__input {
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  height: 35px;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.form__input:last-of-type {
  margin-bottom: 0px;
}

.form__input:focus {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
