.popup__title {
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 39px;
}

@media screen and (max-width: 417px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 65px;
  }
}
